
/* element selector, background colors */
header {
    background-color: rgb(230, 230, 250);
}

h1 {
    background-color: #dda0dd;
}

h2 {
    background-color: hsl(281, 44%, 70%, 1);
}

/* class selector, box model, long hand notation, different measurements */
.last-meeting {
    border: 2px solid;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    padding-top: 3mm;
    padding-bottom: 3mm;
    padding-left: 4mm;
    padding-right: 4mm;
    border-style: 2pt;
    border-color: blueviolet;
    border-width: 2pt;
    border-radius: 2pt;
}

/* attribute selector, box model, short hand notation */
a[class~="Brainstorming"] {
    border: 5px solid palevioletred;
    margin: 300px 300px 500px 500px;
    padding: 100 px 100 px 300 px 300 px;
    border-style: 2pt;
    border-color: palevioletred;
    border-width: 2pt;
    border-radius: 2pt;
}

/* text and display */
p {
    color: hsl(300, 33%, 33%, 1);
    text-decoration: cornflowerblue;
    text-align: right;
    display: block;
}

a[footer] {
    display: inline-block;
}